* {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    font-size: $baseFontSize;
    font-weight: normal;
    vertical-align: baseline;
}

body {
    line-height: 1;
	color: $baseColor;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote {
    &:before, &:after {
        content: '';
        content: none;
    }
}

q {
    &:before, &:after {
        content: '';
        content: none;
    }
}

table {
    border-collapse: collapse;
    border-spacing: 0
}