<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Todo-app</title>
    <link rel="stylesheet" href="styles/index.css">
</head>
<body class="app-wrapper" ng-controller="TodoListController as vm">
    <header class="header-main">
        <h1 class="header-main__title">Very simple todo-app</h1>
    </header>
    <section class="app-container">
        <todo-add-form></todo-add-form>
	    <todo-filters></todo-filters>
        <todo-list>
            <todo-item ng-if="vm.todos.length" ng-repeat="todo in vm.todos"></todo-item>
        </todo-list>
    </section>
    <script src="scripts/lib/vendor.js"></script>
    <script src="scripts/index.js"></script>
</body>
</html>